*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    max-width: 1250px;
    width: 100%;
    min-height: 70px;
    margin: auto;
    padding: 0 20px;
}


/* header */
.header {
    padding-top: 10px;
    margin-bottom: 130px;
}
.header_content {
    display: flex;
    justify-content: space-between;
}
.header_link{
    width: 615px;
    display: flex;
    justify-content: right;
    gap: 62px;

}
.header_title {
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    letter-spacing: -1.05538px;
    background: linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.list {
    display: flex;
    align-items: center;
    gap: 62px;
}
.list li {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}
.list li:hover {
    background: linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}
.header_button {
    width: 170px;
    height: 60px;
    background: #F2F8FF;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.header_button p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background: linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-right: 8px;
}
.header_button img{
    width: 30px;
    height: 30px;
    background: linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    border-radius: 999px;
}

/* about */
.about{
    margin-bottom: 120px;
}
.about_content {
    display: flex;
    gap: 175px;    
}
.about_description {
    max-width: 570px;
    width: 100%;
    min-height: 100px;
}
.about_title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
}
.about_text {
    width: 570px;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    text-align: justify;
    color: #797979;
}
.about_description h3{
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 70px;
}
.about_description span{
    color: #B633E3;
}
.about_img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

/* section */
.section {
    margin-bottom: 110px;
}
.section_title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
    color: #333333;
}
.section_text {
    width: 570px;
    text-align: center;
    margin: auto;
    margin-bottom: 60px;
}
.card {
    max-width: 1000px;
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
}
.card img {
    width: 500px;
    border-radius: 5%;
}
.card_text h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 52px;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 20px;
}
.card_text span{
    background: linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.card_text p{
    width: 450px;
}
.card:nth-child(2){
    margin-left: auto;
}

/* footer */
.footer{
    padding: 40px;
    background: linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
}
.footer_title{
   text-align: center;
   margin-bottom: 30px;
   font-weight: 600;
   font-size: 30px;
   line-height: 52px;
   color: #333333;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.footer_title span{
    color: white;
}
.footer__list{
    display: flex;
    justify-content: center;
}
.footer__list a{
    padding: 10px;
    margin: 0 15px;
    color: var(--white);
    font-size: 25px;
    text-decoration: none;
}
.footer__list img{
    width: 40px;
}